<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>br.paker.Calendr.launcher</string>
    <key>BundleProgram</key>
    <string>Contents/MacOS/CalendrLauncher.app/Contents/MacOS/CalendrLauncher</string>
    <key>KeepAlive</key>
    <dict>
        <key>Crashed</key>
        <false/>
        <key>SuccessfulExit</key>
        <true/>
    </dict>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
