name: Unit Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: macos-11.0

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Dependencies
        run: brew install xcbeautify

      - name: CocoaPods
        run: pod install

      - name: Build & Test
        env:
          scheme: Calendr
          workspace: Calendr.xcworkspace
        run: |
          set -o pipefail && xcodebuild test -scheme "$scheme" -workspace "$workspace" | xcbeautify
