name: Unit Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master, macos-13 ]

jobs:
  build:
    runs-on: macos-latest
    env:
      scheme: Calendr

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build
        run: |
          xcodebuild build-for-testing -scheme "$scheme" \
          COMPILER_INDEX_STORE_ENABLE=NO CODE_SIGNING_ALLOWED=NO

      - name: Test
        run: |
          set -o pipefail && xcodebuild test-without-building -scheme "$scheme" | xcbeautify
